h1{
    font-size: 24px;
    margin: 12px 0;
}

footer{
    background-color: rgb(136, 227, 250);
    padding: 12px;
}


nav li{
	padding:12px;
	width:25%;
	border:2px solid black;
	display: inline-block;
	width: 20%;
    border-radius: 15px;
    margin-top: 15px;
    background-color: rgb(193, 214, 255);
}

.active{
    background-color: lightpink;
    font-weight: bold;
    border: 3px solid black;
    text-decoration: underline;
    text-transform: uppercase;
}

img{
    margin: 12px;
    width: 350px;
    border: 4px solid burlywood;
    display: block;
    padding: 5px;
}

img:hover{
    filter: grayscale();
    border: 4px solid;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

body{
    font-family: Verdana, 'Times New Roman';
    margin: 25px 25px 0px 25px;
}


